.page{
    &-header{
        margin-bottom: 1.5rem !important;
        padding-top: 24px;
    }

    &-title{
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 118%;
        margin-top: 0;
    }
    
}
.text{
    color: $text-color;
    opacity: 0.7;
}